/* hero section */
.hero_section {
    padding: 1% 0% 0% 5%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hero_text {
    width: 42%;
}

.hero_text h1 {
    font-family: 'Acme', sans-serif;
    font-size: 64px;
    line-height: 1.5;
    margin: 0 0 6% 0;
}

.hero_text p {
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    line-height: 1.4;
    margin: 0 0 12% 0;
}

.pink_button {
    background-color: #F57CB6;
    color:#ffffff;
    border: none;
    border-radius: 50px;
    padding: 3% 10%;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.hero_image {
    width: 50%;
}

/* color block */
.color_block {
    background-color: #1C6EEF;
    height: 32px;
}

/* category section */
.category_section {
    padding: 4% 6%;
}

.category_section h2 {
    font-family: 'Acme', sans-serif;
    font-size: 48px;
    margin-bottom: 5%;
}

.category_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
}

.category_card {
    width: 47%;
    background-color: #F4F4F4;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category_card img {
    width: 36%;
    display: block;
}

.category_card h3 {
    width: 48%;
    font-family: 'Acme', sans-serif;
    font-size: 36px;
    line-height: 1.1;
    margin: 0;
}

/* brand section */

/* best seller section */
.product_section {
    padding: 4% 0% 4% 6%;
}

.product_section h2 {
    font-family: 'Acme', sans-serif;
    font-size: 48px;
    margin-bottom: 5%;
}

.product_grid {
    display: flex;
    gap: 7%;
    overflow-x: auto;
}

.product_card {
    width: 400px;
    flex-shrink: 0;
    background-color: #F4F4F4;
    border-radius: 40px;
    padding: 3% 2.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_card img {
    width: 100%;
    border-radius: 40px;
    margin-bottom: 12%;
}

.product_card h4 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
}
.product_card p {
    font-size: 18px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 10%;
}

.product_card .pink_button {
    font-size: 18px;
    padding: 4% 10%;
}

/* review section */
.review_section {
    padding: 4% 6%;
    margin-bottom: 15%;
}

.review_section h2 {
    font-family: 'Acme', sans-serif;
    font-size: 48px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    margin-bottom: 0%;
}

.review_section img {
    display: block;
    margin: auto;
}

.review_count {
    margin-top: 0%;
    margin-bottom: 6%;
    font-family: 'Acme', sans-serif;
    font-size: 32px;
    color: #1C6EEF;
    text-align: center;
}

.review_box {
    padding: 2% 3%;
    background-color: #F4F4F4;
    width: 45%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}


/*=============phone============*/
@media (max-width: 480px) {

    /*------hero-------*/
    .hero_section { 
        padding: 6% 5%;
    }

    .hero_text { 
        width: 56%;
    }

    .hero_text h1 {
        font-size: 30px; 
    }

    .hero_text p{
        font-size: 15px; 
    }

    .hero_image {
        width: 40%; 
    }

    .pink_button {
        font-size: 16px;
        padding: 4% 10%;
    }

    /*----shop by catogory------*/
    .category_section h2 {
        font-size: 28px; 
    }
    .category_card h3{
        font-size: 18px;
    }

    /*------best seller-----*/
    .product_section {
        margin-bottom: 50px;
    }

    .product_section h2{
        font-size: 28px; 
        }

    .product_card{
        width: 78%;
        height: auto;
        padding: 4%;
    }

    .product_card h4,
    .product_card p {
        font-size: 16px;
    }

    /*-----reviews-----*/
    .review_section h2 { 
        font-size: 28px; 
    }
    .review_count { 
        font-size: 20px; 
    }
    .review_box {
         width: 90%; 
         font-size: 18px;
    }
}

